<html>
<head>
	<title>Installer Data Generator</title>


    <!-- Starter Data Builder CS Files -->
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery-ui-dialog.css">
    <!-- Foundaion CS Files -->
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/foundation.min.css">  
    <link rel="stylesheet" href="css/normalize.css">    

    <!-- Starter Data Builder JS Files -->
	<script src="js/jquery-1.7.2.js"></script>
	<script src="js/socket.io-1.1.0.js"></script>
	<script src="js/jquery.paginate.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/jquery.spin.js"></script>
    <script src="js/jquery-ui.min.js"></script>


    <!-- Foundation JS Files -->
    <script src="js/foundation.min.js"></script>
    <script src="js/modernizr.js"></script>
</head>

<body>

    <div class="row panel">

        <div class="large-12 columns" style="text-align:center; font-size:150%; font-weight:bold;">Open Learning Exchange - Startup Data Builder</div>

    </div>


    <div class="row panel">
	
        <div class="row">

            <div class="large-3 large-offset-2 columns">Identify a BeLL Server :</div>

             <div class="large-5 columns">
                <input type="text" id="txtboxCouchServerSrc" name="txtboxCouchServerSrc">
            </div>

            <div class="large-2 columns">
            </div>

        </div>

        <div class="row">

             <div class="large-5 large-offset-5 columns">

                <select id="selectCouchSource" name="selectCouchSource">
                <%  var sourceCouchOptions = ['Options', 'http://openbell.ole.org:5984', 'http://olesomalia:oleoleole@olesomalia.cloudant.com', 'http://127.0.0.1:5984']
                for(var i = 0; i < sourceCouchOptions.length; i++) { %>
                <option value="<%= sourceCouchOptions[i]%>"><%= sourceCouchOptions[i]%></option>
                <% } %>
                </select>

            </div>

        </div>

         <div class="row">

             <div class="large-5 large-offset-5 columns" style="padding-top: 3%;">

                 <input  class="button" style="float:right;" type="button" id="submitSourceCouchAddr" name="submitSourceCouchAddr" onclick="viewDataFromSelBeLL(); check();" value="View">

            </div>

        </div>

         <div id="popup-spinning" name="popup-spinning"></div>

    </div>

    <div class="row panel" id="hiddenResourcesTable" style="display:none;">

        <div class="row">

            <div class="large-12 columns">

                 <table id="selectionPanelsTable">

                    <tr>
                        <td>
                            <div id="coursesPanel" name="coursesPanel">
                                <h3 id="selectCoursesHead"></h3>

                                <div class="row">
                                    <div class="large-8 columns">

                                        <div id="divSearchCourse"></div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-8 columns">

                                        <div id="div-searched-courses"></div>

                                    </div>
                                </div>

                                <div id="divSelectAllCourses"></div>
                                <div id="selectCourses" name="selectCourses" style="overflow-y: auto; overflow-x: auto; height: 250px;"></div>
                            </div>
                        </td>
                        <td>
                            <div id="resourcesPanel" name="resourcesPanel">
                                <h3 id="selectResourcesHead"></h3>
                                <div id="divSelectAllResources"></div>
                                <div id="selectResources" name="selectResources" style="overflow-y: auto; overflow-x: auto; height: 250px;"></div>

                                <div class="pagination-centered" style="padding: 15px 60px;">
                                    <div id="paginator"></div>
                                </div>
                            
                            </div>
                        </td>
                    </tr>


                    <br><br>
                    

                    <!--add another row in table which will prvide collection selection interface-->
                    <tr>
                        <td>
                            <div id="collectionsPanel" name="collectionsPanel">
                                <h3 id="selectCollectionsHead"></h3>
                                <div id="selectCollections" name="selectCollections" style="overflow-y: auto; overflow-x: auto; height: 250px;"></div>
                                <div id="paginatorCollections"></div>
                            </div>
                        </td>
                        <td>
                            <div id="collectionMemberResourcesPanel" name="collectionMemberResourcesPanel">
                                <h3 id="selectCollectionMemberResourcesHead"></h3>
                                <div id="contentsOfCollection" name="contentsOfCollection"></div>
                                <div id="selectCollectionMemberResources" name="selectCollectionMemberResources" style="overflow-y: auto; overflow-x: auto; height: 250px;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!-- <input class="button" type="button" id="submitPanel" name="submitPanel" value="Prepare Starter Data"> -->
                            <div id="submitPanel" name="submitPanel"></div>
                        </td>
                    </tr>
        </table>
    </div>
        </div>


    </div>
	
	<!--<div id="dataSelectionPanel" name="dataSelectionPanel">-->
   

    
	<!--<input type="button" id="hmm" name="hmm" onclick="testing()" value="Delete and Copy Db files to dest folder">-->
	<div id="socketRespFromServer"></div>
    <!--</div>-->
    <script src="js/script_starter_data.js"></script>
</body>

<script>
    function check()
    {
        document.getElementById('hiddenResourcesTable').style.display = 'block';
    }
</script>
</html>